{{ define "main" }}
<section class="term-pages">
    <header>

    </header>
    
    <div class="tagged-items">
        {{ range .Pages }}
        <article class="item-preview">
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            {{ if .Params.summary }}
            <p>{{ .Params.summary }}</p>
            {{ else }}
            <p>{{ .Summary }}</p>
            {{ end }}
            <time>{{ .Date.Format "January 2, 2006" }}</time>
        </article>
        {{ end }}
    </div>
</section>
{{ end }}
